* {
  box-sizing: border-box;
}

/* CSS Custom Properties */
:root {
  --main-bg: #4a4e4d;
  --top-menu-bg: #8ba70e;
  --sub-menu-bg: #3da4ab;
}

/* body {
  font-family: Tahoma, Geneva, sans-serif;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 3rem auto;
  color: white;
} */

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#top-menu a:hover {
  background-color: var(--sub-menu-bg);
}

body {
  background: #f5f5f4;
  color: #232323;
  line-height: 30px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 25px 50px;
  user-select: none;
}

code {
  color: #09507c;
  background: #deedf2;
  padding: 2px 10px;
  border-radius: 10px;
}

td {
  border: 1px solid black;
  padding: 15px;
}

button {
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  border-color: #09507c;
  background-color: #deedf2;
}

input {
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

li {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}

#addCommentBtn{
  margin-top: 2em;
}
